footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-smoke);
    background-color: rgb(240, 240, 240);
    padding: .5em .05em;
}

footer .footer-grid {
    margin: 0em .08em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    grid-gap: .4em;
}

.footer-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5em;
}

div .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.social-links .circle {
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0em .2em;
}

.social {
    width: 20px;
    height: 20px;
}

.footer-logo {
    margin: .5em 0em;
    width: 120px;
    height: 30px;
}

footer p {
    font-size: 1.09em;
    text-align: center;
    font-family: var(--Poppins);
    color: var(--dark-blue);
    text-transform: uppercase;
}

.copyright-text{
    margin: .2em 0em;
}

footer .tech {
    font-size: 1em;
    text-align: center;
    font-family: var(--Poppins);
    color: var(--dark-blue);
    text-transform: capitalize !important;
}

footer .abr {
    font-size: 1.1em;
    text-align: center;
    font-family: var(--Poppins);
    letter-spacing: 1.5;
    color: var(--dark-blue);
    text-transform: uppercase;
}